@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><strong>FinCtrl</strong></h1>
    <p class="lead">Controle suas financas de maneira facil e rapida.</p>    
</div>

<div class="row">    
    <div class="col-md-4">
        <h2>Tenha controle</h2>
        <p>Controle seus gastos sem complicações. Tenha conhecimento de quanto de suas financas andam saindo e entrando no seu bolso. </p>
        <p>Temos gráficos tambem para uma melhor visualização de quanto voce anda gastando ou recebendo.</p>
    </div>    
</div>