
/*
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}
*/

.fa {
    margin-right: 5px;
}

.navbar {
    margin-bottom: 15px;
}

.navbar-btns {
    margin-right: 20px;
}

.link-details {
    margin: 5px;
    border-left: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    color: black;
}

    .link-details:hover {
        text-decoration: none;
        color: black;
    }

.card {
    margin-bottom: 15px;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}